.add-set-modal{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container{
    display: flex;
    justify-content: space-between;
}

.add-set-modal-input{
    max-width: 170px;
}