.training-page__box{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.training-page .top-container{
    margin-bottom: 10px;
}

.training-page__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}