caption{
    margin-bottom: 5px;
    text-align: left;
    font-weight: 600;
}

table{
    border-collapse: collapse;
    border: 1px solid black;
}

th, td {
  padding: 5px 10px;
  border: 1px solid black;
  text-align: center;
}