.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trainings-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* align-items: start;  */
}

.training-item:not(:last-child){
    padding-bottom: 30px;
    border-bottom: 5px solid white;
}

.exercises-list{
    margin-block: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.exercise-item{
    flex: 1 0 300px;
}

.exercise-table{
    margin-bottom: 10px;
}