.modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.modal-content {
    min-width: 300px;
    padding: 30px;
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    z-index: 100;
}

.btns-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns-container .cancel{
    color: white;
    background-color: #e23e3e;
}

.btns-container .save{
    color: white;
    background-color: #0730e9;
}