.training-analytics {
    max-width: 400px;
    width: 100%;
}

.training-analytics__container {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.training-analytics__title {
    font-size: 18px;
    margin-right: 5px;
}

.training-analytics__box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}