* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

button{
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: 600;
}