* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
  --main-green: #004643;
}

body{
    background-color: #FAFAFA;
    color: var(--main-green);
}

button {
    cursor: pointer;
}

.svg-btn{
    border: none;
    background: none;
}

.btn{
    padding: 5px 10px;
    background-color: var(--main-green);
    color: #FAFAFA;
    border: 1px solid var(--main-green);
    border-radius: 8px;
    font-weight: 600;
}

.main{
    margin: 0 auto;
    margin-bottom: 70px;
    padding: 10px;
    max-width: 1200px;
}

.widget-title{
    font-size: 20px;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}